In [1]:
import os
import requests
import csv
import pandas as pd
from datetime import datetime
from bs4 import BeautifulSoup as soup
date=datetime.now().strftime("%Y-%m-%d")

In [2]:
url="https://www.worldometers.info/coronavirus/"
response=requests.get(url,allow_redirects=True)
response.headers
soup_response=soup(response.text,"html.parser")

In [3]:
# searching for the country wise statistics
table=soup_response.find("table",id="main_table_countries_today").find("tbody")
rows=table.find_all("tr",style="")

In [4]:
#extracting data for each of the rows in the table
global_info=[]
for row in rows:
    columns=row.find_all("td")
    country_info=[column.text.strip() for column in columns]
    del country_info[7]
    global_info.append(country_info)
print(global_info[0:10])
print("/r")
print("Number of rows in table: {}".format(len(global_info)))
print("/r")
del global_info[0] # deleting the parameter names from the data

[['', 'World', '669,870,389', '+45,290', '6,720,862', '+107', '641,179,963', '21,969,564', '48,397', '85,938', '862.2', '', '', '', 'All', '', '', '', '', '', ''], ['1', 'USA', '103,308,876', '', '1,123,466', '', '100,108,541', '2,076,869', '4,906', '308,564', '3,356', '1,156,296,724', '3,453,640', '334,805,269', 'North America', '3', '298', '0', '', '', '6,203'], ['2', 'India', '44,681,693', '', '530,722', '', '44,147,322', '3,649', '698', '31,765', '377', '912,362,106', '648,615', '1,406,631,776', 'Asia', '31', '2,650', '2', '', '', '3'], ['3', 'France', '39,428,779', '', '163,193', '', '38,912,054', '353,532', '869', '601,190', '2,488', '271,490,188', '4,139,547', '65,584,518', 'Europe', '2', '402', '0', '', '', '5,390'], ['4', 'Germany', '37,581,570', '', '163,425', '', '36,980,300', '437,845', '1,281', '448,020', '1,948', '122,332,384', '1,458,359', '83,883,596', 'Europe', '2', '513', '1', '', '', '5,220'], ['5', 'Brazil', '36,582,164', '', '695,127', '', '35,452,373', '434,664', '8,318', '169,870', '3,228', '63,776,166', '296,146', '215,353,593', 'South America', '6', '310', '3', '', '', '2,018'], ['6', 'Japan', '30,846,732', '', '60,792', '', '21,278,415', '9,507,525', '665', '245,625', '484', '88,389,228', '703,821', '125,584,838', 'Asia', '4', '2,066', '1', '', '', '75,706'], ['7', 'S. Korea', '29,698,043', '+43,953', '32,821', '+76', '28,626,310', '1,038,912', '510', '578,572', '639', '15,804,065', '307,892', '51,329,899', 'Asia', '2', '1,564', '3', '856', '1', '20,240'], ['8', 'Italy', '25,279,682', '', '185,417', '', '24,688,083', '406,182', '319', '419,491', '3,077', '263,414,564', '4,371,100', '60,262,770', 'Europe', '2', '325', '0', '', '', '6,740'], ['9', 'UK', '24,210,131', '', '201,028', '', '23,901,439', '107,664', '146', '353,443', '2,935', '522,526,476', '7,628,357', '68,497,907', 'Europe', '3', '341', '0', '', '', '1,572']]
/r
Number of rows in table: 221
/r

In [5]:
# saving the scarpped data to the the file
try:
    os.mkdir("./downloads")
except OSError as error:
    print("Folder already exists")
variables=["Number","Country","Total Cases","New Cases","Total Deaths","New Deaths","Total Recovered","Active Csaes","Serious_Critical","Total Cases Per 1m pop","Deaths per 1m pop",
          "Total Tests","Tests per 1m pop","Population"]
outfile="./downloads/covid-19-country-statistics-"+date+".csv"
print(outfile)
with open(outfile,"w",newline="") as f:
    writer=csv.writer(f)
    writer.writerow(variables)
    for country in global_info:
        writer.writerow(country)

./downloads/covid-19-country-statistics-2023-01-12.csv

In [6]:
data=pd.read_csv(outfile,encoding="ISO-8859-1",index_col=False)
data.head(10)

C:\Users\aditi\AppData\Local\Temp\ipykernel_11676\1040868926.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  data=pd.read_csv(outfile,encoding="ISO-8859-1",index_col=False)

,Number,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Csaes,Serious_Critical,Total Cases Per 1m pop,Deaths per 1m pop,Total Tests,Tests per 1m pop,Population
0,1,USA,"103,308,876",NaN,"1,123,466",NaN,"100,108,541","2,076,869","4,906","308,564","3,356","1,156,296,724","3,453,640","334,805,269"
1,2,India,"44,681,693",NaN,"530,722",NaN,"44,147,322","3,649",698,"31,765",377,"912,362,106","648,615","1,406,631,776"
2,3,France,"39,428,779",NaN,"163,193",NaN,"38,912,054","353,532",869,"601,190","2,488","271,490,188","4,139,547","65,584,518"
3,4,Germany,"37,581,570",NaN,"163,425",NaN,"36,980,300","437,845","1,281","448,020","1,948","122,332,384","1,458,359","83,883,596"
4,5,Brazil,"36,582,164",NaN,"695,127",NaN,"35,452,373","434,664","8,318","169,870","3,228","63,776,166","296,146","215,353,593"
5,6,Japan,"30,846,732",NaN,"60,792",NaN,"21,278,415","9,507,525",665,"245,625",484,"88,389,228","703,821","125,584,838"
6,7,S. Korea,"29,698,043","+43,953","32,821",76.0,"28,626,310","1,038,912",510,"578,572",639,"15,804,065","307,892","51,329,899"
7,8,Italy,"25,279,682",NaN,"185,417",NaN,"24,688,083","406,182",319,"419,491","3,077","263,414,564","4,371,100","60,262,770"
8,9,UK,"24,210,131",NaN,"201,028",NaN,"23,901,439","107,664",146,"353,443","2,935","522,526,476","7,628,357","68,497,907"
9,10,Russia,"21,836,969",NaN,"394,214",NaN,"21,258,733","184,022","2,300","149,767","2,704","273,400,000","1,875,095","145,805,947"

In [7]:
data[data["Country"]=="India"]

,Number,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Csaes,Serious_Critical,Total Cases Per 1m pop,Deaths per 1m pop,Total Tests,Tests per 1m pop,Population
1,2,India,"44,681,693",NaN,"530,722",NaN,"44,147,322","3,649",698,"31,765",377,"912,362,106","648,615","1,406,631,776"